/* Write your CSS here */

denomination-item {
  list-style-type: none;
  width: 48%;
  margin-bottom: 16px;
}
.denomination-button {
  background-color: #382f5a;
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
}
