/* Write your CSS here */

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.cash-withdrawl-container {
  background-color: #150b3e;
  width: 80%;
  border-radius: 16px;
  padding-top: 24px;
  padding-left: 18px;
  padding-bottom: 8px;
  padding-right: 350px;
  max-width: 350px;
}

.user-details-container {
  display: flex;
}

@media screen and (min-width: 768px) {
  .cash-withdrawl-container {
    width: 50%;

    padding-top: 48px;
    padding-left: 36px;
    padding-bottom: 16px;
    padding-right: 36px;
    max-width: 422px;
  }
}
.initial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7d2fe;
  height: 48px;
  border-radius: 24px;
}

.initial {
  color: #7c3aed;
  font-family: 'Roboto';
  font-size: 14px;
}
.name {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 8px;
}

.balance-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.your-balance {
  color: #585076;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-top: 4px;
}

.balance {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.currency {
  color: #585076;
  font-size: 12px;
  font-weight: 500;
}

.withdraw {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;

  margin-top: 16px;
}

.choose-sum {
  color: #585076;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 12px;
}

.denominations-list {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
